<h1>Statistics</h1>
<% @main_table.each do |table| %>
<table>
  <thead>
    <tr>
      <th colspan="2">Experiment: <%= table[:experiment] %>. Total number of devices: <%= table[:total_devices] %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Option</td>
      <td>Number of devices</td>
    </tr>
    <% table[:variants_with_devices_count].each do |variant_n_count| %>
    <tr>
      <td><%= variant_n_count[:variant] %></td>
      <td><%= variant_n_count[:device_count] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
