// Place all the styles related to the statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

table {
  width: 50%;
  margin: 0 auto 50px auto;
  border-collapse: collapse;
}

table th {
  height: 30px;
  background-color: #DADADA;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
  width: 50%;
}